<div class="fundo" <%if(!aviso){%> 
    style="display: none";
    <%}%>>
    <div class="aviso">
        <span onclick="fecharPopup()" class="fechar">&times;</span>
        <h1 class="aviso-header">AVISO</h1>
        <div class="aviso-info">
            <p><%=aviso%></p>
        </div>
    </div>
</div>
<div class="header-content">
    <div class="logo-bandeijao">
        <a href="/"><img src="/img/logo.png" alt="Bandeijão IFRS"></a>
    </div>
    <div class="login-ancora">
        <%if (logado) {%>
            <a href="/logout">Logout</a>
        <%}else {%>
            <a href="/login">Login</a>
            <% }%>
        
    </div>
</div>