<div class="header-content">
    <div class="logo-bandeijao">
        <a href="/"><img src="/img/logo.png" alt="Bandeijão IFRS"></a>
    </div>
    <div class="login-ancora">
        <a href="#">Login</a>
    </div>
</div>