<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title></title>
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<div class="container-login">
			<div class="login-box">
				<div class="login- content">
					<h2 class="login-h2">Login</h2>
					<hr class="login-hr" />
					<div class="form-login">
						<form action="/login" method="post">
							<div class="form-login-content">
								<input class="login-input" type="text" name="matricula" id="matricula" placeholder="Matricula" />
								<input class="login-input" type="password" name="senha" id="senha" placeholder="Senha" />
								<input class="login-button-login" type="submit" value="Login" />
								<a class="login-criar-conta" href="/cadastro">Criar conta</a>
								<a class="login-esqueceu-senha" href="/esqueceu">Esqueci a senha</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
