<html lang="pt-br">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandeijão - IFRS</title>
    <link rel="stylesheet" type="text/css" href="estiloprincipal.css">    
</head>

<body id="pformulario">
    
    <div class="header" id="header"> 
        <button onclick="mostrarbarrinha()" class="icon"  >
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        </button>
        
        <div class="Titulo">
            <a href="/"><img src="./Logo1.png" alt="Bandeijão IFRS"></a>
        </div>

        <div class="navegacao" id="navegacao">
            <button onclick="mostrarbarrinha()" class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
                
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                </svg>
                Home
            </a>
                
            <a href= "/pagcadastro" class="ativo">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 8">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                </svg> 
                Cadastros
            </a>
                
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal" viewBox="0 0 16 16">
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                    </svg>
                    Cardápio
                </a>
        </div>
    </div>
    
    <div class="wrapper">
        <form action="/formulario" method="post">
            <div class="form-signin">       
                <h2 class="form-signin-heading">Cadastre-se</h2>    
                <input type="text" class="form-control" name="nome" placeholder="Primeiro nome:" required pattern="[A-Za-zÀ-ÿ]{3,}"  />
            
                <input type="text" class="form-control" name="sobrenome" placeholder="Sobrenome:" required pattern="[A-Za-zÀ-ÿ]{3,}" />
            
                <input type="number" class="form-control" name="matricula" placeholder="Matricula:" required  />
            
                <input type="tel" class="form-control" name="telefone" placeholder="Telefone:" required pattern="\(\d{2}\) \d{5}-\d{4}|\d{11}|\(\d{2}\) \d{9}|\d{2} \d{9}"/>   
            
                <input type="text" class="form-control" name="cpf" placeholder="CPF:" required pattern="\d{3}\.\d{3}\.\d{3}-\d{2}|\d{11}" />
            
                <input type="email" class="form-control" name="email" placeholder="Email:" required  />
            
                <select type="text" name=curso class="select" required >
                    <option value="valor1">Selecione seu curso:</option>
                    <option value="valor2">Técnico em Informática</option>
                    <option value="valor3">Técnico em Eletrônica</option>
                    <option value="valor4">Técnico em Lazer</option>
                    <option value="valor5">Técnico em Turismo</option>
                    <option value="valor6">Analise de Sistemas</option>
                    <option value="valor7">Letras</option>
                    <option value="valor8">PROEJA</option>
                    <option value="valor9">Agroecologia</option>
                    <option value="valor10">Servidor/Funcionário</option>
                    <option value="valor11">Outro</option>
                </select>
                
                <input type="text" class="form-control" name="outro" placeholder="Se a opção esolhida for 'OUTRO', nos infrome:"  />
                <div id="campo-radio">
                    <p>Você se identifica como:</p>
                    <div>
                        <input type="radio" id="onivoro" name="escolha" required>
                        <label for="onivoro" class="legenda" >Onívoro</label>
                    </div>
                    <div>
                        <input type="radio" id="veget"  name="escolha">
                        <label for="veget" class="legenda">Vegetariano</label>
                    </div>
                    <div>
                        <input type="radio" id="vegan" name="escolha">
                        <label for="vegan" class="legenda">Vegano</label>
                    </div>
                </div>
                    
                <textarea class="form-control" name="story" placeholder="Restrições Alimentares:"  rows="5" cols="100"></textarea>
            
                <div id="buttons">
                        <input type="submit" class="button" name="button" value="Enviar">
                    
                        <a href="/pagcadastro" class="button">Voltar</a>
                </div>
            </div>
        </form>
    </div>
    <footer>
        <p>Bandeijão IFRS Campus - Restinga</p>
        <p>R. Alberto Hoffmann, 285</p>
        <p>De seg. a sex. 12h - 14h</p>
    </footer>

    <script src="abaLateral.js"></script>
</body>

</html>