/*Estilo global inicio*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
}

header {
    width: 100%;
}

nav {
    width: 15%
}

.container {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer {
    width: 100%;
    margin-top: auto;
}

.header-content {
    background-image: linear-gradient(to right, #17882c 0, #238335 100%);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-bandeijao {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-bandeijao img {
    width: 250px;
    height: 80px;
}
.login-ancora{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-ancora a{
    text-decoration: none;
    color: black;
}
.login-ancora a:hover{
    text-decoration: underline;
}

.nav-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(141, 204, 141);
    align-items: center;
    top: 100px;
    height: 100vh;
}

.nav-content li {
    list-style: none;
    line-height: 2.5em;
}

.nav-content svg {
    padding-right: .5em;
}

.nav-content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

.nav-content a:hover {
    text-decoration: underline;
}

.footer-content {
    background-color: #00510f;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-top: auto;

}

.footer-content p {
    color: whitesmoke;
}

/*Estilo global fim*/



/*Home inicio*/
.index-h2 {
    margin-top: 50px;
}

button[name="drop"] {
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: #238235;
    padding: 10px;
    font-size: 15px;
    color: white;
    margin: 1px;
}

button[name="drop"]:hover {
    background-color: #2B9E40;
}

.menu-drop {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10px;
}

.drop-content {
    display: none;
    background-color: rgb(199 199 199);
    z-index: 1;
}

.drop-content p {
    color: black;
    padding: 8px 10px;
    display: block;
}

/*Home fim*/

/*pedidos inicio*/



.pedido-h1 {
    margin: 15px;
}

.pedido-hr {
    margin-bottom: 25px;
    width: 90%;

}

.form-pedidos {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-pedidos-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.form-pedidos-filtro {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

#filtro {
    width: 500px;
    margin-left: 15px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
}

#filtrar {
    background: none;
    border: solid 2px green;
    width: 75px;
    height: 40px;
    color: green;
    text-align: center;
    border-radius: 7px;
}

#filtrar:hover {
    background-color: green;
    color: white;
}


.form-pedidos-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#inserir {
    margin-left: 15px;
}

.buttons {
    background: #2e4ff3;
    color: white;
    width: 110px;
    border-radius: 7px;
    border: solid 1px #999696;
    height: 38px;
}

.buttons:hover {
    background: white;
    color: #2e4ff3;
    border: solid 2px #2e4ff3;
}

.form-pedidos-table {
    width: 100%;
    overflow: auto;
}

#pedidos-table-content {
    border-collapse: collapse;
    max-width: 1000px;
    min-width: 700px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#pedidos-table-content th,
#pedidos-table-content td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}

#pedidos-table-content th {
    background-color: #ffff;
    border-bottom: 2px solid #bdbdbd;
    border-top: 2px solid #bdbdbd;
}

#pedidos-table-content tr:nth-child(even) {

    background-color: #bdbdbd
}

/*pedidos fim*/

/*cadastro inicio*/

.form-cadastro{
    border: solid 1px black;
    width: 500px;
    margin: 50px auto 30px auto;
    background: white;

}

.form-cadastro-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.form-cadastro-titulo {
    text-align: center;
    font-size: 35px;
    color: #4CAF50;
    margin: 20px;
}

.form-control {
    padding: 5px;
    margin-bottom: 15px;
    width: 400px;
}

.form-cadastro-inputs-radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: start;
}
.form-cadastro-inputs-radio input{
    cursor: pointer;
}

.form-cadastro-select{
    width: 100%;
}
.select {
    color: #9d9d9d;
    padding: 10px;
    width: 85%;
    height: 40px;
    margin-bottom: 15px;
}

.form-cadastro-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.button {
    width: 45%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a.button {
    width: calc(45% - 40px);
    font-size: 14px;
}

/*cadastro fim*/

/*sucesso inicio*/


.card-conclusao {

    margin: 50px auto;
    background-image: linear-gradient(to right, #17882c 0, #1b6228 100%);
    width: 50%;
    border-radius: 5px;
    min-height: 200px;
}

.card-conclusao-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-conclusao-content h2,
.card-conclusao-content h3 {
    margin: 10px 0px 10px 0px;
}

.cform-conclusao-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.voltar {
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
    color: #000000;
    background: #238335;
    min-width: 55%;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.voltar:hover {
    background: #1b6228;
    border: 1px solid #163a03;

}

/*sucesso fim*/

/*Em desenvolvimento*/

/*Media queries*/

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    body{
        flex-direction: column;
    }
    nav{
        width: 100%;
        
    }
    .logo-bandeijao{
        width: 80%;
    }
    .login-ancora{
        width: 20%;
    }
    .nav-content{
        height: 80px;
    }
    .nav-content ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    .container{
        width: 100%;
        justify-content: center;
    }

    /*Home incio*/
    .menu-drop {
        width: 80%;
        margin-top: 30px;
    }

    .index-h2{
        margin-top: 25px;
    }
    /*Home fim*/

    /*pedidos inicio*/

    .pedido-h1 {
        text-align: center;
    }

    .form-pedidos  {
        flex-direction: column;
    }

    .form-pedidos-filtro  {
        flex-direction: row;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }

    label[for="filtro"] {
        width: 100%;
        text-align: center;
    }

    #filtro {
        width: 65%;
    }

    #filtrar {
        margin-left: 10px;
    }

    .form-pedidos-buttons {
        margin-top: 10px;
        justify-content: space-evenly;
    }

    /*pedidos fim*/

    /*cadastro inicio*/

    .form-cadastro{
        width: 80%;

    }
    .form-cadastro-content {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .form-cadastro-titulo {
        margin-bottom: 22px;
    }

    .form-control {
        width: 80%;
    }

    .select {
        font-size: 11px;
    }

    #buttons {
        flex-direction: column;
        align-items: center;
    }

    /*cadastro fim*/

    /*sucesso inicio*/

    .voltar {
        font-size: 15px;
    }

    /*sucesso fim*/

}


/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {
    /*Home incio*/

    /*Home fim*/

    /*pedidos inicio*/
    #filtro {
        max-width: 70%;
        margin-right: 20px;
    }

    /*pedidos fim*/

    /*cadastro inicio*/

    /*cadastro fim*/

    /*sucesso inicio*/
    .voltar {
        font-size: 17px;
    }

    /*sucesso fim*/
}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
    /*Home incio*/

    /*Home fim*/

    /*pedidos inicio*/

    #filtro {
        width: 500px;
    }

    /*pedidos fim*/

    /*cadastro inicio*/

    /*cadastro fim*/

    /*sucesso inicio*/

    /*sucesso fim*/
}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {
    /*Home incio*/

    .menu-drop {
        width: 600px;
    }

    button[name="drop"] {
        font-size: 20px;
    }

    .index-h2 {
        font-size: 30px;
    }

    .index-h3{
        font-size: 25px;
    }

    .voltar {
        font-size: 20px;
    }

    /*Home fim*/

    /*pedidos inicio*/

    /*pedidos fim*/

    /*cadastro inicio*/

    .form-cadastro{
        width: 70%;
        min-height: 450px;
    }

    .form-cadastro-content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .form-cadastro-titulo {
        width: 100%;
    }

    .form-control {
        width: 40%;
        font-size: 15px
    }

    .select {
        font-size: 15px
    }

    .form-cadastro-inputs-radio {
        width: 40%;
        font-size: 18px;
    }

    /*cadastro fim*/

    /*sucesso inicio*/

    /*sucesso fim*/
}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {
    /*Home incio*/

    iframe {
        width: 560px;
        height: 315px;
    }

    /*pedidos inicio*/

    /*pedidos fim*/

    /*cadastro inicio*/

    /*cadastro fim*/

    /*sucesso inicio*/

    /*sucesso fim*/

}

@media only screen and (min-width: 1400px) {

    /*Home incio*/

    /*Home fim*/

    /*pedidos inicio*/

    /*pedidos fim*/

    /*cadastro inicio*/

    /*cadastro fim*/

    /*sucesso inicio*/

    /*sucesso fim*/

}